# Build files
/build/
/dist/
/target/
manifest.mf
.flattened-pom.xml

# Binaries
*.jar
*.class

# Backup files
*~
.*.swp

# Intellij files
.idea/
*.iml
/.classpath
/.project
.classpath
.project
.settings

# Miscellaneous files
*.log

# Subproject files
olcut-core/target
olcut-core-test/target
olcut-config-json/target
olcut-config-edn/target
olcut-config-protobuf/target
olcut-extras/target
