build/
dist/
target/
src/META-INF/*
nbproject/private/
.classpath
.project

# Editor temporary files
.*.swp
*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
