# Ant files
/nbproject/private/
/build/
/dist/
/target/
manifest.mf

# Backup files
*~

# Intellij files
.idea/
*.iml
/.classpath
/.project
.classpath
.project
.settings

# Subproject files
olcut-core/target
olcut-config-jini/target
olcut-config-json/target
