(config
	(component a [mlrg olcut config ArrayConfigurable]
		{:import "false" :export "false"}
		:floatArray ["1.1f" "2.3" "3.5"]
		:doubleArray ["1e-16" "2e-16" "3.16"]
		:longArray ["9223372036854775807" "9223372036854775806" "5"]
		:intArray ["1" "2" "3"]))