(config

	(component a [mlrg olcut config BasicConfigurable]
	{:import "false" :export "false"}
	:s "one"
	:d "3.0"
	:i "2")

	(component b [mlrg olcut config BasicConfigurable]
	{:import "false" :export "false"}
	:s "two"
	:d "6.3"
	:i "3"))