(config

	(component bad [mlrg olcut config ListConfigurable]
	{:import "false" :export "false"}
	:list ["non_existent""strings"])

	(component dualtyped [mlrg olcut config ListConfigurable]
	{:import "false" :export "false"}
	:list [[mlrg olcut config StringConfigurable][mlrg olcut config SimpleConfigurable]])

	(component combotyped [mlrg olcut config ListConfigurable]
	{:import "false" :export "false"}
	:list ["simp"[mlrg olcut config StringConfigurable]])

	(component simple [mlrg olcut config ListConfigurable]
	{:import "false" :export "false"}
	:list ["simp""strings"])

	(component simp [mlrg olcut config SimpleConfigurable]
	{:import "false" :export "false"}
	:simple "10")

	(component strings3 [mlrg olcut config StringConfigurable]
	{:import "false" :export "false"}
	:one "un"
	:two "deux"
	:three "trois")

	(component strings2 [mlrg olcut config StringConfigurable]
	{:import "false" :export "false"}
	:one "one"
	:two "two"
	:three "three")

	(component typed [mlrg olcut config ListConfigurable]
	{:import "false" :export "false"}
	:list [[mlrg olcut config StringConfigurable]])

	(component strings [mlrg olcut config StringConfigurable]
	{:import "false" :export "false"}
	:one "alpha"
	:two "beta"
	:three "charlie")

	(component stringconfigurablearray [mlrg olcut config ArrayStringConfigurable]
	{:import "false" :export "false"}
	:stringArray ["strings""strings2""strings3"])

	(component simp2 [mlrg olcut config SimpleConfigurable]
	{:import "false" :export "false"}
	:simple "20")

	(component stringconfigurablearraybroken [mlrg olcut config ArrayStringConfigurable]
	{:import "false" :export "false"}
	:stringArray ["strings""monkeys""gibbons"]))