(config
	(component a [mlrg olcut config ComboConfigurable]
		{:import "false" :export "false"}
		:sc "b"
		:alpha "one")
	(component b [mlrg olcut config StringConfigurable]
		{:import "false" :export "false"}
		:one "d"
		:two "e"
		:three "f")
	(component basic1 [mlrg olcut config BasicConfigurable]
		{:import "false" :export "false"}
		:s "beta"
		:d "2.71"
		:i "8")
	(component l1 [mlrg olcut config L1Configurable]
		{:import "false" :export "false"}
		:c "l2")
	(component l2 [mlrg olcut config L2Configurable]
		{:import "false" :export "false"}
		:c "l3")
	(component l3 [mlrg olcut config L3Configurable]
		{:import "false" :export "false"}
		:c "basic")
	(component l21 [mlrg olcut config L2Configurable]
		{:import "false" :export "false"}
		:s "second-level"
		:c "l31")
	(component simple [mlrg olcut config SimpleConfigurable]
		{:import "false" :export "false"}
		:simple "10")
	(component l31 [mlrg olcut config L3Configurable]
		{:import "false" :export "false"}
		:s "third-level"
		:c "basic1")
	(component l11 [mlrg olcut config L1Configurable]
		{:import "false" :export "false"}
		:s "first-level"
		:c "l21")
	(component multiEmbeddedList [mlrg olcut config ListConfigurable]
		{:import "false" :export "false"}
		:list ["l1" "l11"])
	(component strings [mlrg olcut config StringConfigurable]
		{:import "false" :export "false"}
		:one "alpha"
		:two "beta"
		:three "charlie")
	(component simpleList [mlrg olcut config ListConfigurable]
		{:import "false" :export "false"}
		:list ["simple" "strings"])
	(component basic [mlrg olcut config BasicConfigurable]
		{:import "false" :export "false"}
		:s "alpha"
		:d "3.14"
		:i "7")
	(component singleEmbeddedList [mlrg olcut config ListConfigurable]
		{:import "false" :export "false"}
		:list ["strings" "l1"]))