(config
	(component nastyStringTest [mlrg olcut config StringConfigurable]
		{:import "false" :export "false"}
		:one "([^a-z0-9_!#$%&*@＠]|^|RT:?)(@＠+)([a-z0-9_]{1,20})(/[a-z][a-z0-9_\\\\-]{0,24})?"
		:two "@＠"
		:three "&&"))