(config
    (components [mlrg olcut config StringConfigurable]
        [a :one "a" :two "b" :three "c"]
        [b {:inherit "a"} :three "d"]
        [bsub {:inherit "b"} :three "e"])

    (components [mlrg olcut config StringleConfigurable]
        [c1 {:inherit "a"} :four "e"]
        [c2 {:inherit "a"} :three "d" :four "e"])

    (component d [mlrg olcut config ListConfigurable]
        {:inherit "a"}
        :three "d"
        :four "e"))