(config
    (components [mlrg olcut config StringConfigurable]
        [a :one "a" :two "b" :three "c"]
        [b {:inherit "a"} :three "d"]
        [bsub {:inherit "b"} :three "e"])

    (components {:inherit   "a"} [mlrg olcut config StringleConfigurable]
        :four "e"
        [c1]
        [c2 :three "d"])

    (component d [mlrg olcut config ListConfigurable]
        {:inherit "a"}
        :three "d"
        :four "e"))