//
// A configuration that will start a Jini service registrar and a class server to 
// serve the jar files that it will use.  If the installDir value is set
// to point to the top-level directory in the local checkout of LabsUtil, then
// you should be able to use this configuration on any Unix system.
//
// You also want to make sure that the port for the class server is not in use on 
// the machine where you want to deploy.

import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    // This system property is generally set by the startReggie.sh script
    private static jiniDir = System.getProperty("jiniDir");

    private static policy = jiniDir + "/jsk-all.policy";
    private static host = ConfigUtil.getHostName();
    private static port = "2020";
    private static jskdl = " http://" + host + ":" + port + "/jsk-dl.jar";

    serviceDescriptors = new ServiceDescriptor[]{
        new NonActivatableServiceDescriptor(
            "",
            policy,
            jiniDir + "/lib/classserver.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir", 
                jiniDir + "/lib-dl", 
                "-verbose"}),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/reggie-dl.jar" + jskdl,
            policy,
            jiniDir + "/lib/reggie.jar",
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { jiniDir + "/reggie.config" }),

	new NonActivatableServiceDescriptor(
           "http://" + host + ":" + port + "/browser-dl.jar" + jskdl,
           policy,
           jiniDir + "/lib/browser.jar",
           "com.sun.jini.example.browser.Browser",
           new String[] { jiniDir + "/browser.config" }),

    };
}
