//
// A configuration that will start a Jini service registrar and a class server to 
// serve the jar files that it will use.  If the installDir value is set
// to point to the top-level directory in the local checkout of LabsUtil, then
// you should be able to use this configuration on any Unix system.
//
// You also want to make sure that the port for the class server is not in use on 
// the machine where you want to deploy.

import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {

    private static prefix = System.getProperty("jiniHome");
    private static policy = System.getProperty("jiniPolicy");
    private static host = ConfigUtil.getHostName();
    private static port = "4011";
    private static jskdl = " http://" + host + ":" + port + "/jsk-dl.jar";

    serviceDescriptors = new ServiceDescriptor[]{
        new NonActivatableServiceDescriptor(
            "",
            policy,
            prefix + "/lib/classserver.jar",
            "com.sun.jini.tool.ClassServer",
            new String[]{"-port", port, "-dir", 
                prefix + "/lib-dl", 
                "-verbose"}),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/reggie-dl.jar" + jskdl,
            policy,
            prefix + "/lib/reggie.jar",
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { prefix + "/reggie.config" }),

        new NonActivatableServiceDescriptor(
            "http://" + host + ":" + port + "/browser-dl.jar" + jskdl,
            policy,
            prefix + "/lib/browser.jar",
            "com.sun.jini.example.browser.Browser",
            new String[] { prefix + "/browser.config" }),
    };
}
