(config
	(component fooMap [mlrg olcut test config FooMapConfigurable]
		{:import "false" :export "false"}
		:map {:second "foo2" :first "foo1"})
	(component foo1 [mlrg olcut test config FooConfigurable]
		{:import "false" :export "false"}
		:name "foo1"
		:value "1")
	(component foo2 [mlrg olcut test config FooConfigurable]
		{:import "false" :export "false"}
		:name "foo2"
		:value "2"))