(config
	(property bar "quux")
	(property pi "3.14")
	(component draconic [mlrg olcut test config StringConfigurable]
		{:import "false" :export "false"}
		:one "dragons"
		:two "wyverns"
		:three "wyrms")
	(component mapTest [mlrg olcut test config MapConfigurable]
		{:import "false" :export "false"}
		:map {:foo "${bar}" :things "stuff"})
	(component starwars [mlrg olcut test config StringConfigurable]
		{:import "false" :export "false"}
		:one "jedi"
		:two "sith"
		:three "scoundrels")
	(component correctListConfig [mlrg olcut test config ListConfig]
		{:import "false" :export "false"}
		:stringConfigurableList ["draconic" "starwars"]
		:stringList ["5.5" "${pi}" "${pi}" "2.79"]
		:doubleList ["5.5" "3.14" "3.14" "2.79"])
	(component incorrectSetConfig [mlrg olcut test config SetConfig]
		{:import "false" :export "false"}
		:stringConfigurableSet ["monkeys" "sheep"]
		:doubleSet ["things" "wings" "bings"]
		:stringSet ["5.5" "3.14" "2.79"])
	(component incorrectListConfig [mlrg olcut test config ListConfig]
		{:import "false" :export "false"}
		:stringConfigurableList ["monkeys" "sheep"]
		:stringList ["5.5" "3.14" "2.79"]
		:doubleList ["things" "wings" "bings"])
	(component correctSetConfig [mlrg olcut test config SetConfig]
		{:import "false" :export "false"}
		:stringConfigurableSet ["draconic" "starwars"]
		:doubleSet ["5.5" "3.14" "3.14" "2.79"]
		:stringSet ["5.5" "${pi}" "${pi}" "2.79"]))