(config
	(property a "angry")
	(property b "bus")
	(property c "closing")
	(property stringC "C3P0")
	(component configC [mlrg olcut test config StringConfigurable]
		{:import "false" :export "false"}
		:one "fileC"
		:two "${b}"
		:three "${c}"))