(config
	(property a "angry")
	(property b "bus")
	(property c "closing")
	(property stringC "C3P0")
	(property stringA "HK-47")
	(property stringB "BB-8")

	(file partB "propertyChainingConfigB.xml")

	(component configA [mlrg olcut test config StringConfigurable]
		{:import "false" :export "false"}
		:one "fileA"
		:two "${b}"
		:three "${c}"))